<h1 class="text-center">thêm mới user</h1>
<form action="">
  <div class="mb-3 mt-3">
    <label for="username" class="form-label">tên người dùng:</label>
    <input
      type="text"
      class="form-control"
      id="username"
      placeholder="Enter username"
      name="ten"
    />
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">mật khẩu:</label>
    <input
      type="password"
      class="form-control"
      id="pwd"
      placeholder="Enter password"
      name="matkhau"
    />
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">re mật khẩu:</label>
    <input
      type="password"
      class="form-control"
      id="pwd"
      placeholder="Enter password"
      name="matkhau"
    />
  </div>
  <div class="mb-3 mt-3">
    <label for="uname" class="form-label">tài khoản:</label>
    <input
      type="text"
      class="form-control"
      id="uname"
      placeholder="Enter username"
      name="taikhoan"
    />
  </div>
  <div class="mb-3 mt-3">
    <label for="address" class="form-label">Đia chi:</label>
    <input
      type="text"
      class="form-control"
      id="address"
      placeholder="Enter address"
      name="address"
    />
  </div>
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">email:</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Enter username"
      name="email"
    />
  </div>
  <div class="mb-3 mt-3">
    <label for="Quyen" class="form-label">Quyen:</label>
    <select class="form-select" aria-label="Default select example">
      <option value="0">admin</option>
      <option selected>user</option>
    </select>
  </div>

  <div class="mb-3 mt-3">
    <div class="form-check">
      <input
        type="radio"
        class="form-check-input"
        id="radio1"
        name="optradio"
        value="option1"
        checked
      />Nam
      <label class="form-check-label" for="radio1"></label>
    </div>
    <div class="form-check">
      <input
        type="radio"
        class="form-check-input"
        id="radio2"
        name="optradio"
        value="option2"
      />Nữ
      <label class="form-check-label" for="radio2"></label>
    </div>
  </div>
  <div class="d-grid">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
